<div class="container">
  <div class="content">
    <% if user_signed_in? %>
      <%= redirect_to verses_path %>
    <% else %>
      <div class="hero-unit" id="hero">
        <h1>Scripture Saver |
        <small>Save your favourites verses from NWT Bible and share with others. Enjoy!</small></h1>
      </div>
      <div class="container">
        <div class="btn-group">
          <%= link_to "Sign up", new_user_registration_path, :class => "btn btn-default btn-lg", :type => "button", :role => "register" %>
        </div>
        <div class="btn-group">
          or
        </div>
        <div class="btn-group">
          <%= link_to "Sign in", new_user_session_path, :class => "btn btn-default btn-lg", :type => "button", :role => "register" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
