<%= render 'header' %>
<h2><%= t "verses.editing_verse" %></h2>

<%= render 'form' %>
</br>
</br>
<%= link_to "#{t "verses.delete_verse"}", @verse, method: :delete, :class => "btn btn-danger", :alt => "Delete verse" %>
